nav{
    background-image: url("../images/nav-back-transparent.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-color: rgb(41, 53, 60);
    height:100%;
    width: 100%;
    padding:0;
    margin:0;
    border-radius: 15px 0 0 15px;
}

nav ul{
    padding:0;
    margin:0;
}

#logo{
    height: 45px;
    width: 45px;
    padding-right: 15px;
    padding-top: 85px;
}

nav ul li{
    display:flex;
    flex-wrap:nowrap;
}

nav ul li:first-child {
    justify-content: center;
    padding-bottom: 60px;
}

nav ul li h1{
    color: white;
    font-size: 30px;
    padding-top: 65px;
}

nav ul li{
    list-style: none;
}

nav ul li a i{
    padding-right: 25px;
}

nav ul li a{
    display:block;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    position:relative;
    padding-top: 25px;
    margin-left:18%;
    padding-bottom: 25px;
}



nav ul li a:hover {
    color: rgba(144, 210, 181, 0.8);
}

nav ul li a:hover:before{
    width: 95%;
}
