{% extends 'layout.html' %}

{% block body %}
<head>
    <link rel="stylesheet" href="/static/css/contact.css">
    <script>let FF_FOUC_FIX; </script><!-- This variable is to fix a bug currently in Firefox -->
</head>
<header id="home">
    <h1>Contact</h1>
    <h2>Need Help? Contact Us!</h2>
</header>


 <!-- Contact Info -->
 <br>
 <br>

<div id="contact">
    <p><i class="fa fa-map-marker"></i>Austin, TX</p>
    <p><i class="fa fa-phone"></i>CRC Hotline: + 1-800-513-8026</p>
    <p><i class="fa fa-envelope"> </i>Email: DL-IT-CRC@epicor.com</p>
</div>
<!-- End Contact Info -->

{% endblock body %}